# Spatial Joins Exercises

Here\'s a reminder of some of the functions we have seen. Hint: they
should be useful for the exercises!

-   `sum(expression)`: aggregate to
    return a sum for a set of records
-   `count(expression)`: aggregate to
    return the size of a set of records
-   `ST_Area(geometry)` returns the
    area of the polygons
-   `ST_AsText(geometry)` returns WKT `text`
-   `ST_Contains(geometry A, geometry B)` returns the true if geometry A contains geometry B
-   `ST_Distance(geometry A, geometry B)` returns the minimum distance between geometry A and
    geometry B
-   `ST_DWithin(geometry A, geometry B, radius)` returns the true if geometry A is radius distance or less from geometry B
-   `ST_GeomFromText(text)` returns `geometry`
-   `ST_Intersects(geometry A, geometry B)` returns the true if geometry A intersects geometry B
-   `ST_Length(linestring)` returns the length of the linestring
-   `ST_Touches(geometry A, geometry B)` returns the true if the boundary of geometry A touches geometry B
-   `ST_Within(geometry A, geometry B)` returns the true if geometry A is within geometry B


Uncomment and run the following cell to install the required packages.

In [1]:
%pip install leafmap lonboard

Requirement already satisfied: leafmap in /usr/local/lib/python3.12/dist-packages (0.59.0)
Requirement already satisfied: lonboard in /usr/local/lib/python3.12/dist-packages (0.13.0)
Requirement already satisfied: anywidget in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.9.21)
Requirement already satisfied: bqplot in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.12.45)
Requirement already satisfied: duckdb>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.4.4)
Requirement already satisfied: folium in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.2.1)
Requirement already satisfied: geojson in /usr/local/lib/python3.12/dist-packages (from leafmap) (3.2.0)
Requirement already satisfied: geopandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.1.2)
Requirement already satisfied: ipyevents in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.4)
Requirement already satisfied: ipyfilechooser in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.6.0)
Requirement already satisfied: ipyleaflet in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Requirement already satisfied: ipyvuetify in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.11.3)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.7.1)
Requirement already satisfied: maplibre in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.3.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from leafmap) (3.10.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.24.1)
Requirement already satisfied: pystac-client in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.9.0)
Requirement already satisfied: python-box in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.3.2)
Requirement already satisfied: scooby in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.11.0)
Requirement already satisfied: whiteboxgui in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.3.0)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.12/dist-packages (from leafmap) (2025.11.0)
Requirement already satisfied: arro3-compute>=0.4.1 in /usr/local/lib/python3.12/dist-packages (from lonboard) (0.6.5)
Requirement already satisfied: arro3-core>=0.4.1 in /usr/local/lib/python3.12/dist-packages (from lonboard) (0.6.5)
Requirement already satisfied: arro3-io>=0.4.1 in /usr/local/lib/python3.12/dist-packages (from lonboard) (0.6.5)
Requirement already satisfied: geoarrow-rust-core>=0.5.2 in /usr/local/lib/python3.12/dist-packages (from lonboard) (0.6.1)
Requirement already satisfied: pyproj>=3.3 in /usr/local/lib/python3.12/dist-packages (from lonboard) (3.7.2)
Requirement already satisfied: traitlets>=5.7.1 in /usr/local/lib/python3.12/dist-packages (from lonboard) (5.7.1)
Requirement already satisfied: typing-extensions>=4.12.0 in /usr/local/lib/python3.12/dist-packages (from lonboard) (4.15.0)
Requirement already satisfied: psygnal>=0.8.1 in /usr/local/lib/python3.12/dist-packages (from anywidget->leafmap) (0.15.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (6.17.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.6.10)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.0.16)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from pyproj>=3.3->lonboard) (2026.1.4)
Requirement already satisfied: traittypes>=0.0.6 in /usr/local/lib/python3.12/dist-packages (from bqplot->leafmap) (0.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.3)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (0.8.2)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (3.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (3.20.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.67.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (0.12.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (26.0)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (2.1.2)
Requirement already satisfied: jupyter-leaflet<0.21,>=0.20 in /usr/local/lib/python3.12/dist-packages (from ipyleaflet->leafmap) (0.20.0)
Requirement already satisfied: ipyvue<2,>=1.7 in /usr/local/lib/python3.12/dist-packages (from ipyvuetify->leafmap) (1.11.3)
Requirement already satisfied: eval-type-backport in /usr/local/lib/python3.12/dist-packages (from maplibre->leafmap) (0.3.1)
Requirement already satisfied: pydantic>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from maplibre->leafmap) (2.12.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (3.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->leafmap) (9.1.2)
Requirement already satisfied: pystac>=1.10.0 in /usr/local/lib/python3.12/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (1.14.3)
Requirement already satisfied: ipytree in /usr/local/lib/python3.12/dist-packages (from whiteboxgui->leafmap) (0.2.2)
Requirement already satisfied: whitebox in /usr/local/lib/python3.12/dist-packages (from whiteboxgui->leafmap) (2.3.6)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.8.15)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (7.4.9)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (0.2.1)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.5)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (26.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (6.5.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2>=2.9->folium->leafmap) (3.0.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.4.2)
Requirement already satisfied: jsonschema~=4.18 in /usr/local/lib/python3.12/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (4.26.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->leafmap) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (2.5.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.12/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.5.7)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown->leafmap) (2.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown->leafmap) (1.7.1)
Requirement already satisfied: Click>=6.0 in /usr/local/lib/python3.12/dist-packages (from whitebox->whiteboxgui->leafmap) (8.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets->leafmap) (0.8.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.30.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (5.10.4)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.17.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.1.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.24.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.3.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets->leafmap) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->leafmap) (0.5.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (4.5.1)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.12/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.2.4)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.3.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.2.0)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.12/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.21.2)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.12/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.4.0)
Requirement already satisfied: jupyter-server<3,>=1.8 in /usr/local/lib/python3.12/dist-packages (from notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.14.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.0)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.12.1)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.4)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.9.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.0.3)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.1)
Requirement already satisfied: fqdn in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)

In [2]:
import duckdb
import leafmap

In [3]:
%pip install jupysql duckdb-engine

Requirement already satisfied: jupysql in /usr/local/lib/python3.12/dist-packages (0.11.1)
Requirement already satisfied: duckdb-engine in /usr/local/lib/python3.12/dist-packages (0.17.0)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.17.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from jupysql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (25.20.2)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.27)
Requirement already satisfied: duckdb>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (1.4.4)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (26.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Requirement already satisfied: posthog>=3.0 in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (7.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable>=3.12.0->jupysql) (0.5.3)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->jupysql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->jupysql) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: backoff>=1.10.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2026.1.4)

In [4]:
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

Download the [nyc_data.zip](https://github.com/opengeos/data/raw/main/duckdb/nyc_data.zip) dataset using leafmap. The zip file contains the following datasets. Create a new DuckDB database and import the datasets into the database. Each dataset should be imported into a separate table.

- nyc_census_blocks
- nyc_homicides
- nyc_neighborhoods
- nyc_streets
- nyc_subway_stations

In [ ]:
url = "https://storage.googleapis.com/qm2/CASA0025/nyc_data.db.zip"
leafmap.download_file(url, unzip=True)

Downloading...
From: https://storage.googleapis.com/qm2/CASA0025/nyc_data.db.zip
To: /content/nyc_data.db.zip
100%|██████████| 8.60M/8.60M [00:00<00:00, 106MB/s]

Extracting files...

'/content/nyc_data.db.zip'

In [ ]:
%sql duckdb:///nyc_data.db

In [8]:
%%sql

INSTALL spatial;
LOAD spatial;

Empty DataFrame
Columns: [Success]
Index: []

1. **What subway station is in \'Little Italy\'? What subway route is it on?**

In [ ]:
%%sql

select s.name subway_station_name, s.routes subway_routes
from nyc_subway_stations s
inner join nyc_neighborhoods n
  on st_intersects(s.geom, n.geom)
where lower(n.NAME) like '%little italy%'

  subway_station_name subway_routes
0           Spring St             6

2. **What are all the neighborhoods served by the 6-train?** (Hint: The `routes` column in the `nyc_subway_stations` table has values like \'B,D,6,V\' and \'C,6\')

In [ ]:
%%sql

select distinct n.name neighborhood_name
from nyc_subway_stations s
inner join nyc_neighborhoods n
  on st_intersects(n.geom, s.geom)
where s.routes like '%6%'

     neighborhood_name
0             Gramercy
1          Murray Hill
2            Soundview
3      Upper East Side
4   Financial District
5          Hunts Point
6          East Harlem
7         Little Italy
8            Yorkville
9            Chinatown
10          Mott Haven
11   Greenwich Village
12             Midtown
13         Parkchester
14         South Bronx

3. **After 9/11, the \'Battery Park\' neighborhood was off limits for several days. How many people had to be evacuated?**

In [ ]:
%%sql

select sum(popn_total)
from nyc_census_blocks b
inner join nyc_neighborhoods n
  on st_intersects(n.geom, b.geom)
where lower(n.name) like '%battery park%'

   sum(popn_total)
0          17153.0

In [ ]:
%%sql

select cast(sum((st_area(st_intersection(n.geom, b.geom)) / st_area(b.geom)) * b.popn_total) as int) weighted_population
from nyc_census_blocks b
inner join nyc_neighborhoods n
  on st_intersects(n.geom, b.geom)
where lower(n.name) like '%battery park%'

   weighted_population
0                11917

4. **What neighborhood has the highest population density (persons/km2)?**

In [ ]:
%%sql

select n.name neighborhood, round(1000000 * sum(b.popn_total) / mean(st_area(n.geom)), 2)
from nyc_census_blocks b
inner join nyc_neighborhoods n
  on st_intersects(n.geom, b.geom)
group by 1
order by 2 desc
limit 20

,neighborhood,"round(((1000000 * sum(b.popn_total)) / mean(st_area(n.geom))), 2)"
0,North Sutton Area,68435.13
1,East Village,50404.48
2,Chinatown,48825.18
3,Carnegie Hill,48543.73
4,Upper East Side,48524.49
5,Little Italy,46769.35
6,Greenwich Village,42835.92
7,Gramercy,41812.39
8,Morris Heights,40687.92
9,Upper West Side,40152.49
10,Yorkville,39504.93
11,Murray Hill,37183.60
12,Lower East Side,36629.46
13,Fordham,36173.53
14,Battery Park,34992.43
15,East Harlem,34546.55
16,University Heights,32231.06
17,Washington Heights,31399.02
18,Harlem,31284.43
19,High Bridge,30663.46

In [ ]:
%%sql

select * --n.name neighborhood, round(1000 * sum(b.popn_total) / mean(st_area(n.geom)), 2)
from nyc_census_blocks b
inner join nyc_neighborhoods n
  on st_contains(n.geom, b.geom)
--group by 1
--order by 2 desc
where n.name = 'Annandale'
limit 20

,BLKID,POPN_TOTAL,POPN_WHITE,POPN_BLACK,POPN_NATIV,POPN_ASIAN,POPN_OTHER,BORONAME,geom,BORONAME_1,NAME,geom_1
0,360850170051009,0,0,0,0,0,0,Staten Island,"[5, 4, 248, 0, 0, 0, 0, 0, 163, 9, 11, 73, 235...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
1,360850170051010,23,22,0,0,1,0,Staten Island,"[5, 4, 168, 0, 0, 0, 0, 0, 41, 0, 11, 73, 236,...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
2,360850156031011,92,86,0,0,6,0,Staten Island,"[5, 4, 168, 0, 0, 0, 0, 0, 186, 117, 11, 73, 1...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
3,360850170051011,123,121,0,0,0,2,Staten Island,"[5, 4, 184, 0, 0, 0, 0, 0, 169, 240, 10, 73, 6...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
4,360850170051012,21,21,0,0,0,0,Staten Island,"[5, 4, 200, 0, 0, 0, 0, 0, 103, 247, 10, 73, 1...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
5,360850170051013,49,46,0,0,3,0,Staten Island,"[5, 4, 120, 0, 0, 0, 0, 0, 123, 247, 10, 73, 1...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
6,360850170051026,107,88,0,0,17,2,Staten Island,"[5, 4, 25, 0, 0, 0, 0, 0, 191, 241, 10, 73, 20...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
7,360850170051032,108,101,0,5,2,0,Staten Island,"[5, 4, 168, 0, 0, 0, 0, 0, 188, 238, 10, 73, 1...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
8,360850170051039,47,39,3,0,0,5,Staten Island,"[5, 4, 136, 0, 0, 0, 0, 0, 50, 6, 11, 73, 132,...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
9,360850170051040,69,55,0,0,10,4,Staten Island,"[5, 4, 89, 0, 0, 0, 0, 0, 219, 10, 11, 73, 2, ...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
10,360850170051041,90,82,0,0,7,1,Staten Island,"[5, 4, 168, 0, 0, 0, 0, 0, 5, 1, 11, 73, 120, ...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
11,360850170051043,11,10,0,0,0,1,Staten Island,"[5, 4, 104, 0, 0, 0, 0, 0, 10, 244, 10, 73, 31...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
12,360850170051049,7,7,0,0,0,0,Staten Island,"[5, 4, 136, 0, 0, 0, 0, 0, 179, 2, 11, 73, 205...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
13,360850170051051,50,50,0,0,0,0,Staten Island,"[5, 4, 232, 0, 0, 0, 0, 0, 148, 248, 10, 73, 9...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
14,360850170052000,112,104,1,0,2,5,Staten Island,"[5, 4, 136, 0, 0, 0, 0, 0, 43, 22, 11, 73, 27,...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
15,360850176002000,20,20,0,0,0,0,Staten Island,"[5, 4, 104, 0, 0, 0, 0, 0, 20, 77, 11, 73, 25,...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
16,360850170052001,98,91,0,0,0,7,Staten Island,"[5, 4, 136, 0, 0, 0, 0, 0, 182, 20, 11, 73, 15...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
17,360850170112002,141,139,0,0,0,2,Staten Island,"[5, 4, 168, 0, 0, 0, 0, 0, 146, 49, 11, 73, 11...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
18,360850176002002,43,43,0,0,0,0,Staten Island,"[5, 4, 104, 0, 0, 0, 0, 0, 216, 69, 11, 73, 23...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."
19,360850170052003,2,2,0,0,0,0,Staten Island,"[5, 4, 233, 0, 0, 0, 0, 0, 109, 19, 11, 73, 51...",Staten Island,Annandale,"[5, 4, 105, 0, 0, 0, 0, 0, 129, 232, 10, 73, 1..."

When you're finished, you can check your answers [here](https://postgis.net/workshops/postgis-intro/joins_exercises.html).

# Ship-to-Ship Transfer Detection

Now for a less structured exercise. We're going to look at ship-to-ship transfers. The idea is that two ships meet up in the middle of the ocean, and one ship transfers cargo to the other. This is a common way to avoid sanctions, and is often used to transfer oil from sanctioned countries to other countries. We're going to look at a few different ways to detect these transfers using AIS data.

In [5]:
import pandas as pd

In [6]:
%sql duckdb:///:memory:

In [7]:
%%sql
INSTALL httpfs;
LOAD httpfs;

Empty DataFrame
Columns: [Success]
Index: []

In [8]:
%%sql
INSTALL spatial;
LOAD spatial;

Empty DataFrame
Columns: [Success]
Index: []

## Step 1

Create a spatial database using the following AIS data:

https://storage.googleapis.com/qm2/casa0025_ships.csv

Each row in this dataset is an AIS 'ping' indicating the position of a ship at a particular date/time, alongside vessel-level characteristics.

It contains the following columns:
* `vesselid`: A unique numerical identifier for each ship, like a license plate
* `vessel_name`: The ship's name
* `vsl_descr`: The ship's type
* `dwt`: The ship's Deadweight Tonnage (how many tons it can carry)
* `v_length`: The ship's length in meters
* `draught`: How many meters deep the ship is draughting (how low it sits in the water). Effectively indicates how much cargo the ship is carrying
* `sog`: Speed over Ground (in knots)
* `date`: A timestamp for the AIS signal
* `lat`: The latitude of the AIS signal (EPSG:4326)
* `lon`: The longitude of the AIS signal (EPSG:4326)

Create a table called 'ais' where each row is a different AIS ping, with no superfluous information. Construct a geometry column.

Create a second table called 'vinfo' which contains vessel-level information with no superfluous information.

You can set a spatial index on each of these tables as follows:

`CREATE INDEX index_name ON table_name USING RTREE(geom);`

In [9]:
%%sql

create or replace table full_ships as select * from 'https://storage.googleapis.com/qm2/casa0025_ships.csv'

Empty DataFrame
Columns: [Success]
Index: []

In [10]:
%%sql

select count(*) from full_ships limit 1

   count_star()
0        101328

In [11]:
%%sql

select * from full_ships limit 10

,vesselid,vessel_name,vsl_descr,dwt,v_length,draught,sog,date,lat,lon,geom
0,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,5.2,2022-07-25 02:53:29,45.151777,36.513327,POINT (36.5133266666667 45.1517766666667)
1,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.7,2022-07-25 03:09:37,45.146487,36.520780,POINT (36.52078 45.1464866666667)
2,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.7,2022-07-25 03:13:58,45.146218,36.521965,POINT (36.521965 45.1462183333333)
3,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.1,2022-07-25 04:16:06,45.145058,36.522020,POINT (36.52202 45.1450583333333)
4,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.0,2022-07-25 05:20:17,45.144933,36.521848,POINT (36.5218483333333 45.1449333333333)
5,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.0,2022-07-25 06:23:57,45.145050,36.521795,POINT (36.521795 45.14505)
6,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.0,2022-07-25 07:25:25,45.146583,36.519967,POINT (36.5199666666667 45.1465833333333)
7,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.2,2022-07-25 10:36:41,45.146813,36.520895,POINT (36.520895 45.1468133333333)
8,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.0,2022-07-25 12:15:05,45.145980,36.522195,POINT (36.522195 45.14598)
9,350053,30 Let Pobedy,general cargo,5150.0,NaN,3.5,0.1,2022-07-25 13:41:53,45.145262,36.522122,POINT (36.5221216666667 45.1452616666667)

In [12]:
%%sql

create or replace table ais as
select vesselid, draught, sog, date, geom from full_ships

Empty DataFrame
Columns: [Success]
Index: []

In [13]:
%%sql

create or replace table vinfo as
select distinct vesselid, vessel_name, vsl_descr, dwt, v_length from full_ships

Empty DataFrame
Columns: [Success]
Index: []

In [14]:
%%sql

select count(*) from vinfo

   count_star()
0           835

In [20]:
%%sql

select column_name, data_type
from information_schema.columns
where table_name = 'ais'

  column_name  data_type
0    vesselid     BIGINT
1     draught     DOUBLE
2         sog     DOUBLE
3        date  TIMESTAMP
4        geom    VARCHAR

In [22]:
%%sql

create or replace table ais as
select * exclude(geom), st_transform(st_geomfromtext(geom), 'EPSG:4326', 'EPSG:3857') as geom from ais

Empty DataFrame
Columns: [Success]
Index: []

In [23]:
%%sql

CREATE INDEX ais_rtree ON ais USING RTREE(geom);

Empty DataFrame
Columns: [Success]
Index: []

In [24]:
%%sql

select *, st_astext(geom) from ais limit 5

,vesselid,draught,sog,date,geom,st_astext(geom)
0,350053,3.5,5.2,2022-07-25 02:53:29,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",POINT (5026272.786944948 4371486.169389135)
1,350053,3.5,0.7,2022-07-25 03:09:37,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",POINT (5025683.906838652 4372518.547320337)
2,350053,3.5,0.7,2022-07-25 03:13:58,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",POINT (5025654.036108615 4372682.693492584)
3,350053,3.5,0.1,2022-07-25 04:16:06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",POINT (5025524.905499295 4372690.312152347)
4,350053,3.5,0.0,2022-07-25 05:20:17,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",POINT (5025510.990562946 4372666.532717071)

In [25]:
%%sql

select count(*) from ais

   count_star()
0        101328

## Step 2

Use a spatial join to identify ship-to-ship transfers in this dataset.
Two ships are considered to be conducting a ship to ship transfer IF:

* They are within 500 meters of each other
* For more than two hours
* And their speed is lower than 1 knot

Some things to consider: make sure you're not joining ships with themselves. Try working with subsets of the data first while you try different things out.

In [28]:
%%sql

with ordered_vessels as (
  select vesselid, sog, date time_start,
    lead(date) over (
      partition by vesselid
      order by date
      ) time_end,
    geom
  from ais
),

near_vessels as (
  select v1.vesselid v1, v2.vesselid v2,
  greatest(v1.time_start, v2.time_start) overlap_start, least(v1.time_end, v2.time_end) overlap_end
  from ordered_vessels v1
  inner join ordered_vessels v2
    on v1.vesselid < v2.vesselid
    and v1.time_start < v2.time_end and v1.time_end > v2.time_start
    and st_dwithin(v1.geom, v2.geom, 500)
    and v1.sog < 1 and v2.sog < 1
),

lag_times as (
  select v1, v2, overlap_start, overlap_end,
    overlap_start - lag(overlap_end) over (
      partition by v1, v2
      order by overlap_start
      ) gap
  from near_vessels
),

events as (
  select v1, v2, overlap_start, overlap_end,
    sum(case
          when gap is null or gap > interval '0 minutes'
            then 1
          else 0
        end
    ) over (
        partition by v1, v2
        order by overlap_start
      ) event_group
  from lag_times
)

select v1 vessel_1, v2 vessel_2,
  min(overlap_start) start_time,
  max(overlap_end) end_time,
  max(overlap_end) - min(overlap_start) duration
from events
group by v1, v2, event_group
having max(overlap_end) - min(overlap_start) >= interval '2 hours'
order by 1,3

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,vessel_1,vessel_2,start_time,end_time,duration
0,54217,13337216,2022-06-15 20:52:12,2022-06-16 02:38:35,0 days 05:46:23
1,54217,235376,2022-06-16 01:32:34,2022-06-16 05:50:36,0 days 04:18:02
2,54217,13337216,2022-06-16 04:50:35,2022-07-05 18:09:33,19 days 13:18:58
3,54217,235376,2022-06-16 13:02:33,2022-07-20 16:42:59,34 days 03:40:26
4,54217,250424,2022-06-17 19:44:36,2022-07-20 16:42:59,32 days 20:58:23
...,...,...,...,...,...
9123,13410995,13432308,2022-06-03 03:15:06,2022-06-03 16:27:31,0 days 13:12:25
9124,13410995,13462305,2022-06-08 22:13:19,2022-06-09 03:01:44,0 days 04:48:25
9125,13410995,13499237,2022-08-02 01:58:19,2022-08-05 21:14:43,3 days 19:16:24
9126,13410995,13420857,2022-08-21 21:50:10,2022-08-22 01:49:45,0 days 03:59:35
9127,13555635,13561435,2022-07-05 12:21:52,2022-07-06 09:41:39,0 days 21:19:47